{% extends 'base.html' %}
{% load static %}

{% block header %}
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock header%}

{% block footer %}
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']})
    google.charts.setOnLoadCallback(atencionDistritos)

    $.extend($.fn.dataTable.defaults, {
      searching: false,
      pageLength: 20
    })

    $(document).ready(() => $('#tabla_distrito_01').DataTable({"language": {"url":"https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"}}))
    $(document).ready(() => $('#tabla_distrito_02').DataTable({"language": {"url":"https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"}}))
    $(document).ready(() => $('#tabla_distrito_03').DataTable({"language": {"url":"https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"}}))

    function atencionDistritos() {
      const data = google.visualization.arrayToDataTable([
        ['Distrito', 'Promedio', 'Límite'],{% for row in estatal.delta %}
          ['Distrito 0{{ row.distrito }}', {{ row.atencion|floatformat:2 }}, 9]{% if not forloop.last %},{% endif %}{% endfor %}
        ])

      const options = {
        title: 'Promedio de días de atención por expediente',
        legend: 'none',
        vAxis: {title: 'Días'},
        hAxis: {},
        height: 600,
        chartArea: {'width': '100%', 'height': '90%'},
        seriesType: 'bars',
        series: {1: {type: 'line'}}
      }

      const chart = new google.visualization.ComboChart(document.getElementById('atencion_chart'))
      chart.draw(data, options)
    }

  </script>
{% endblock footer %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1 class="display-3"><i class="fa fa-user-secret"></i> Control de DPI <small class="text-muted">{{ year }}</small></h1>
      <hr>
      <p>
        Se muestran los expedientes con resolución en Tlaxcala, por lo que se excluyen las solicitudes de colaboración
        a otras entidades. <br>
        <span class="text-muted"><small>Periodo trabajado: desde {{ periodo.inicio }} hasta {{ periodo.fin }}</small></span>
        <hr>
        <a class="btn btn-danger"  href="{% url 'dpi:dpi_add' %}"><i class="fa fa-plus"></i> Agregar expediente</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Estadísticas totales</h3>
      <ul>
        <li><strong>Total de registros:</strong> {{ expedientes.count }}</li>
      </ul>
    </div>
    <div class="col">
      <div id="atencion_chart" style="min-width: 800px; height: 600px;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <th>Distrito</th>
          <th>Folio</th>
          <th>Fecha de Trámite</th>
          <th>Días de procesamiento</th>
        </thead>
        <tbody>{% for r in expedientes %}
          <tr>
            <td>{{ r.distrito }}</td>
            <td><a href="{% url 'dpi:edit' r.folio %}">{{ r.folio }}</a></td>
            <td>{{ r.fecha_tramite }}</td>
            <td>{{ r.delta_proceso }}</td>
          </tr>{% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock content %}


