{% load static %}
{% load docs_tags %}

<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">SGC Tlaxcala</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'docs:index' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Documentación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'docs:reportes' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Reportes</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'ideas:index' %}" class="nav-link"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Caja de Ideas</a>
        </li>
      </ul>
      <form class="d-flex" role="search"  method="get" action="{% url 'docs:buscador' %}">
        <input class="form-control me-2" type="search" placeholder="Escribe aquí" name="q" aria-label="Buscar">
        <button class="btn btn-secondary" type="submit">Buscar</button>
      </form>

      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user"></i>&nbsp; {{ request.user.first_name }} {{ request.user.last_name }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Cambiar contraseña</a></li>
            <li>
              <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="dropdown-item pr-2" style="background: none; border: none; padding-left: 2; cursor: pointer;">Cerrar sesión</button>
              </form>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registrarse</a></li>
        {% endif %}
      </ul>

    </div>
  </div>
</nav>

{% if panic_reports > 0 %}
<div style="margin: 10px 50px 10px">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>¡Alerta!</strong> Hay {{ panic_reports }} reportes de documentos sin atender. <a href="{% url 'docs:panic_reportes' %}" class="alert-link">Ver reportes</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endif %}
