{% load static %}
{% load docs_tags %}

  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/credencial.jpg' %}" height="30" class="d-inline-block align-top" alt="">
      Cuadro de Mando
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}"><i class="fa fa-home"></i> Portada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% current request 'docs' %}" href="{% url 'docs:index' %}"><i class="fa fa-book"></i> Documentación</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://10.29.0.79:2019/">
            <i class="fa fa-users"></i> Metas Colectivas
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'metas:index' %}" class="nav-link {% current request 'metas' %}">
            <i class="fa fa-flag-checkered"></i> Metas</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if kpi_path %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-line-chart"></i> Indicadores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item {% current request 'cobertura' %}"
              href="{% url 'cobertura:index' %}">
              <i class="fa fa-globe"></i> Cobertura</a>
            <a
              class="dropdown-item {% current request 'cifras' %}"
              href="{% url 'cifras:index' %}">
              <i class="fa fa-bar-chart"></i> Productividad
            </a>
            <a
              class="dropdown-item {% current request 'tramites' %}"
              href="{% url 'cifras:tramites' %}">
              <i class="fa fa-edit"></i> Trámites
            </a>
            <a
              class="dropdown-item {% current request 'entregas' %}"
              href="{% url 'cifras:entregas' %}">
              <i class="fa fa-id-card-o"></i> Entregas
            </a>


            {% comment %}<a
              class="dropdown-item {% current request 'mesas' %}"
              href="{% url 'mesas:index' %}">
              <i class="fa fa-user-times"></i> Control recepción
            </a>
            <a
              class="dropdown-item {% current request 'paquetes' %}"
              href="{% url 'paquetes:index' %}">
              <i class="fa fa-truck"></i> Distribución de paquetes
            </a>
            <a
              class="dropdown-item {% current request 'dpi' %}"
              href="{% url 'dpi:index' %}">
              <i class="fa fa-user-secret"></i> Control de DPI
            </a>
            <a
              class="dropdown-item {% current request 'cecyrd' %}"
              href="{% url 'cecyrd:index' %}">
              <i class="fa fa-bolt"></i> Control de Entregas
            </a>{% endcomment %}
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item {% current request 'cecyrd' %}"
              href="{% url 'aprobacion:index' %}">
              <i class="fa fa-thumbs-o-up"></i> Aprobación ciudadana
            </a>

            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item {% current request 'mc' %}"
              href="{% url 'mc:index' %}">
              <i class="fa fa-building-o"></i> Modelo de Calidad DERFE
            </a>
          </div>
        </li>

              <li class="nav-item">
          <a href="http://10.29.0.79/media/carto/vnm2020/" class="nav-link {% current request 'metas' %}">
            <i class="fa fa-map"></i> VNM 2020</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0"  method="get" action="{% url 'docs:buscador' %}">
        <input class="form-control mr-sm-2" type="text" name="q" id="id_q" placeholder="Buscador" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
