{% load static %}
{% load docs_tags %}

<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">SGC Tlaxcala</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documentación</a>
        </li>
      </ul>
      <form class="d-flex" role="search"  method="get" action="{% url 'docs:buscador' %}">
        <input class="form-control me-2" type="search" placeholder="Escribe aquí" name="q" aria-label="Buscar">
        <button class="btn btn-secondary" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
