{% extends "base.html" %}
{% load static %}

{% block head_title %}Resultados de la encuesta de aprobación ciudadana{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4"><i class="fa fa-thumbs-o-up"></i> Aprobación Ciudadana</h1>
        <p class="lead">
          Resultados de la aplicación de la encuesta de satisfacción
        </p>
      </div><!-- ./jumbotron -->
    </div><!-- ./col jumbotron -->
  </div><!-- ./row jumbotron -->

  <div class="row"><!--  >row gráfica -->
    <div class="col"><!-- >col gráfica -->
      <div id="aprobacion" style="width: 100%; height: 500px;"><!-- >id grafica -->
        <img src="{% static "aprobacion/2021-06.jpg" %}" alt="Encuesta 2021-01" />
      </div><!-- ./id grafica -->
    </div><!-- ./col gráfica -->
  </div><!-- ./ row gráfica -->

  <div class="row">
    <div class="col">
      <div class="table-responsive-sd">
        <table class="table table-striped table-hover table-sm">
          <caption>Estadístico de aprobación ciudadana 2021</caption>
  <thead class="thead-dark">
   <tr>
    <th scope="col">Módulo</th>
    <th scope="col">enero</th>
    <th scope="col">febrero</th>
    <th scope="col">marzo</th>
    <th scope="col">abril</th>
    <th scope="col">mayo</th>
    <th scope="col">junio</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <th scope="row">290151</th>
    <td>9.5</td>
    <td>9.6</td>
    <td>9.7</td>
    <td>9.7</td>
    <td>9.6</td>
    <td>9.7</td>
   </tr>
   <tr>
    <th scope="row">290152</th>
    <td>9.6</td>
    <td>9.6</td>
    <td>9.8</td>
    <td>9.9</td>
    <td>10.0</td>
    <td>9.9</td>
   </tr>
   <tr>
    <th scope="row">290153</th>
    <td>9.8</td>
    <td>10.0</td>
    <td>10.0</td>
    <td>10.0</td>
    <td>N/A</td>
    <td>10.0</td>
   </tr>
   <tr>
    <th scope="row">290154</th>
    <td>9.5</td>
    <td>9.4</td>
    <td>9.5</td>
    <td>10.0</td>
    <td>N/A</td>
    <td>9.4</td>
   </tr>
   <tr>
    <th scope="row">290251</th>
    <td>9.8</td>
    <td>9.9</td>
    <td>9.8</td>
    <td>9.9</td>
    <td>10.0</td>
    <td>9.9</td>
   </tr>
   <tr>
    <th scope="row">290253</th>
    <td>9.5</td>
    <td>9.5</td>
    <td>9.4</td>
    <td>9.4</td>
    <td>9.5</td>
    <td>9.4</td>
   </tr>
   <tr>
    <th scope="row">290254</th>
    <td>9.6</td>
    <td>9.4</td>
    <td>9.5</td>
    <td>9.9</td>
    <td>N/A</td>
    <td>9.6</td>
   </tr>
   <tr>
    <th scope="row">290351</th>
    <td>10.0</td>
    <td>9.9</td>
    <td>9.9</td>
    <td>9.9</td>
    <td>9.5</td>
    <td>9.4</td>
   </tr>
   <tr>
    <th scope="row">290352</th>
    <td>10.0</td>
    <td>10.0</td>
    <td>10.0</td>
    <td>10.0</td>
    <td>9.9</td>
    <td>9.7</td>
   </tr>
   <tr>
    <th scope="row">290353</th>
    <td>9.8</td>
    <td>9.9</td>
    <td>9.8</td>
    <td>10.0</td>
    <td>N/A</td>
    <td>10.0</td>
   </tr>
  </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
