Django
django_environ
psycopg2-binary
Unipath
django-crispy-forms
coreapi
djangorestframework
djangorestframework-jwt
djoser
workdays
django-extensions
Werkzeug
django-watson
django-jsoneditor
django-debug-toolbar
