Django
django_environ
psycopg2
Unipath
django-crispy-forms
coreapi
djangorestframework
djangorestframework-jwt
djoser
workdays
django-extensions
Werkzeug
django-watson
django-jsoneditor
django-debug-toolbar
django-timedeltafield
django-annoying
xlrd
django-simple-history
