{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block footer %}
  <link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script>
    $('.dateinput').datepicker({
      format: 'dd/mm/yyyy',
      locale: 'es'
    })
  </script>
{% endblock footer %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-3">Bitácora de Ciudadanos Rechazados en MAC</h1>
        {% include 'partials/_messages.html' %}
        <hr>
        <form method="post" class="form">
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

