{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="jumbotron p-3 p-md-5 rounded">
    <div class="col-md px-0">
      <h1 class="display-5"><i class="fa fa-cogs"></i> Proceso Ejercicio del Gasto</h1>
      <p><a href="{% url 'kpi:index' %}" type="button" class="btn btn-primary">Índice de procesos</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped table-sm">
        <thead>
        <tr>
          <th>Periodo</th>
          <th>Presupuesto</th>
          <th>Ejercido</th>
          <th>%</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>octubre 2019</td>
            <td>$2,980,701.60</td>
            <td>$2,899,858.90</td>
            <td>97.29%</td>
          </tr>
          <tr>
            <td>noviembre 2019</td>
            <td>$3,218,087.27</td>
            <td>$3,161,991.53</td>
            <td>98.26%</td>
          </tr>
          <tr>
            <td>enero 2020</td>
            <td>$286,234.00</td>
            <td>$262,950.45</td>
            <td>91.87%</td>
          </tr>
          <tr>
            <td>febrero 2020</td>
            <td>$686,201.82</td>
            <td>$673,725.42</td>
            <td>98.18%</td>
          </tr>
          <tr>
            <td>marzo 2020</td>
            <td>$1,101,607.48</td>
            <td>$955,488.90</td>
            <td>86.74%</td>
          </tr>
          <tr>
            <th>Total</th>
            <th>$8,272,832.17</th>
            <th>$7,954,015.20</th>
            <th>96.15%</th>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

{% endblock content %}
