{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load compress %}

{% block header %}
  <script src="https://fastly.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
{% endblock header %}

{% block content %}
<div class="container py-4">
   <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <h1 class="display-5 fw-bold"><i class="fa fa-line-chart" aria-hidden="true"></i> Objetivos e Indicadores</h1>
        <p class="col fs-4">
          Los Indicadores permiten al Instituto medir el desempeño de sus procesos clave,
          asegurando que cumplan con los estándares de calidad de ISO 9001. Ayudan a
          identificar áreas de mejora continua y a mantener la eficiencia operativa.
          Además, permiten al Instituto tomar decisiones basadas en datos para cumplir
          con los objetivos de calidad establecidos.
        </p>
      </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        {% for kpi in kpis %}
          <li class="nav-item">
            <a
              class="nav-link"
              hx-target="#kpi_periods"
              hx-get="{% url 'kpi:detail' kpi.id %}">{{ kpi.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div><!-- Presentación de los KPIs -->

  <div class="row pt-1" id="kpi_periods"></div><!-- Aqu van los periodos de cada KPI -->

<pre>

  {% for kpi in kpis %}
    {% for period in kpi.period_set.all %}
      {{ period.period }}
      {{ period.start }} - {{ period.end }}
      {{ period.target }}: {{ period.nominal }}
      {{ period.total }} -- {{ period.percent|floatformat:2 }}
      ---
      {% for record in period.record_set.all %}
        {{ record.date|date:"M/Y" }}: {{ record.value|floatformat:0|intcomma }} -- {{ record.cumulative_value|floatformat:0|intcomma }}
                  {{ record.percentage_of_nominal|floatformat:2 }}% -- {{ record.cumulative_percentage|floatformat:2 }}%
      {% endfor %}
    {% endfor %}
  {% endfor %}
</pre>

  <div class="row">
    <div id="chart-container" style="height:400px;"></div>
  </div>

{% endblock %}
