<div class="modal fade" id="kpi4" tabindex="-1" aria-labelledby="kpi4Label" aria-hidden="true">
  <div class="modal-dialog" style="min-width: 75%;">
    <div class="modal-content" style="min-height: 200px;">
      <div class="modal-header">
        <h5 class="modal-title" id="kpi4Label">Trámites art. 141</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body p-0" style="height: 200px;">
        <table class="table table-bordered table-striped table-hover table-responsive w-75 mx-auto mt-3">
            <thead>
              <tr>
                <th scope="col">Solicitudes</th>
                <th scoper="col">ene</th>
                <th scope="col">feb</th>
                <th scope="col">mar</th>
                <th scope="col">abr</th>
                <th scope="col">may</th>
                <th scope="col">jun</th>
                <th scope="col">jul</th>
                <th scope="col">ago</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Recibidas</th>
                <td>4</td>
                <td>19</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
               <tr>
                <th scope="row">Atendidas</th>
                <td>4</td>
                <td>19</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
