<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']})
  google.charts.setOnLoadCallback(chartEntregasDistritos)

  function chartEntregasDistritos() {
    let data = new google.visualization.arrayToDataTable([
      ['Distrito', 'Entregas', 'Trámites', 'Diferencia', 'Relación'],
      
      ['01', 15993, 15101, -892, 105.90689358320643],
      ['02', 19477, 20111, 634, 96.84749639500771],
      ['03', 11318, 11589, 271, 97.6615756320649]
    ])

    let options = {
      title: 'Entregas por Distrito',
      seriesType: 'bars',
      series: {3: {
        type: 'line',
        vAxis: {
            minValue: 0,
            maxValue: 100,
            format: '#\'%\''
        }
      }
    }
    }
    let chartDistritos = new google.visualization.ComboChart(document.getElementById('distritos_div'))
    chartDistritos.draw(data, options);
  }
</script>

<div id="distritos_div" style="width: 900px; height: 500px;"></div>