{% extends 'base_pas.html' %}
{% load staticfiles %}

{% block header %}
<link href="{% static 'pas/css/datepicker3.css' %}" rel="stylesheet">
{% endblock header %}

{% block post_footer %}
<script src="{% static 'pas/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'pas/js/bootstrap-datepicker.es.js' %}"></script>
<script type="text/javascript">
  $('#fecha_deteccion_widget input').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 1,
    todayBtn: true,
    language: "es",
    forceParse: false,
    daysOfWeekDisabled: "0,6",
    autoclose: true,
    todayHighlight: true
  });
</script>
{{ form.media }}
{% endblock post_footer %}

{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><i class="fa fa-bug"></i> Agregar un nuevo plan <small>Mejora</small></h1>
    </div>
  </div>
</div>

<div class="row">
  <form class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="row"><!-- Identificacion -->
      <div class="col-md-8">
        <div id="identificacion" class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bullhorn"></i> Identificación del Plan</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="id_fecha_deteccion" class="col-md-4 control-label">Fecha de Detección</label>
              <div class="col-md-4 date" id="fecha_deteccion_widget">
                {{ form.fecha_deteccion }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_proceso" class="col-md-4 control-label">Proceso</label>
              <div class="col-md-4">
                {{ form.proceso }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_tipo" class="col-md-4 control-label">Tipo de Plan</label>
              <div class="col-md-4">
                {{ form.tipo }}
              </div>
              <div class="col-md-2">
                <span class="label label-danger">2015</span>
              </div>
            </div>
            <div class="form-group">
              <label for="id_deteccion" class="col-md-4 control-label">Detectada durante:</label>
              <div class="col-md-4">
                {{ form.deteccion }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_mejora" class="col-md-4 control-label">Mejora de:</label>
              <div class="col-md-4">
                {{ form.mejora }}
              </div>
              <div class="col-md-1">
                <span class="label label-danger">9001:2015</span>
              </div>
            </div> 
          </div>                
        </div><!-- ./#identificacion -->
      </div>
      <div class="col-md-4">
        <div class="well">
          <h4>10.1 Generalidades</h4>
          <p>
            La organización debe determinar y seleccionar las oportunidades de mejora e implementar las acciones necesarias para cumplir los requisitos del cliente y aumentar la satisfacción del cliente.
          </p>
          <p>
            Esto debe incluir, cuando sea adecuado;
            <ol type="a">
              <li>mejorar los procesos para prevenir no conformidades;</li>
              <li>mejorar los productos y servicios para cumplir los requisitos conocidos y previstos;</li>
              <li>mejorar los resultados del sistema de gestión de la calidad.</li>
            </ol>
          </p>
        </div>
      </div>
    </div><!-- ./Identificacion -->
    <div class="row"><!-- Reacción -->
      <div class="col-md-8">
        <div id="reaccion" class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-fire-extinguisher"></i> Reacción <small><span class="label label-danger">v 2015</span></small></h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="id_correccion" class="col-md-4 control-label">Correción</label>
              <div class="col-md-7">
                {{ form.correccion }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_consecuencias" class="col-md-4 control-label">Consecuencias</label>
              <div class="col-md-7">
                <div class="form-control-wrapper fileinput">
                  {{ form.consecuencias }}
                </div>
              </div>
            </div>
          </div>
        </div><!-- ./reaccion -->
      </div>
      <div class="col-md-4">
        <div class="well">
          <p>
          <strong>10.2.1</strong> Cuando ocurra una no conformidad, incluidas aquellas originadas por quejas, la organización debe:</p>
          <ol start="1">
            <li>
              reaccionar ante la no conformidad, y según sea aplicable
              <ol type="a">
                <li>tomar acciones para controlarla y corregirla;</li>
                <li>hacer frente a las consecuencias;</li>
              </ol>
            </li>
          </ol>  
        </div>
      </div>
    </div><!-- ./Reaccion -->
    <div class="row"><!-- Revision -->
      <div class="col-md-8">
        <div id="declaracion" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-briefcase"></i> Revisión</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="id_redaccion" class="col-md-4 control-label">Redacción</label>
              <div class="col-md-7">
                {{ form.redaccion }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_declaracion" class="col-md-4 control-label">Declaración</label>
              <div class="col-md-7">
                {{ form.declaracion }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_evidencia" class="col-md-4 control-label">Evidencia</label>
              <div class="col-md-7">
                {{ form.evidencia }}
              </div>
            </div>
          </div>
        </div><!-- ./#declaracion -->
      </div>
      <div class="col-md-4">
        <div class="well">
          <ol start="2">
            <li>
              evaluar la necesidad de acciones para eliminar las causas de la no conformidad, con el fin de que no vuelva a ocurrir ni ocurra en otra parte, mediante:
              <ol type="a">
                <li>la revisión de la no conformidad;</li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- ./Revision -->
    <div class="row"><!-- Causas -->
      <div class="col-md-8">
        <div class="panel panel-info" id="causas">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-paw"></i> Determinación de las causas
            </h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="id_pescadito" class="col-md-4 control-label">Diagrama de Pescado</label>
              <div class="col-md-7">
                {{ form.pescadito }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_cincopq" class="col-md-4 control-label">Cinco Por Qué's</label>
              <div class="col-md-7">
                {{ form.cincopq }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_causa_raiz" class="col-md-4 control-label">Causa Raíz</label>
              <div class="col-md-7">
                {{ form.causa_raiz }}
              </div>
            </div>
            <div class="form-group">
              <label for="id_relacionadas" class="col-md-4 control-label">No conformidades relacionadas</label>
              <div class="col-md-7">
                {{ form.relacionadas }}
              </div>
            </div>
          </div>
        </div><!-- ./#causas -->
      </div>
      <div class="col-md-4">
        <div class="well">
          <ol start="2">
            <li>
              <p>...</p>
              <ol type="a" start="2">
                <li>la determinación de las causas de la no conformidad;</li>
                <li>la determinación de si existen no conformidades similares, o que potencialmente podrían ocurrir;</li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- ./Causas -->
  </form>
</div>

{% endblock contenido %}
