<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% include 'anexos/_head.html' %}
    {% block header %}{% endblock header %}
  </head>

  <body>
    {% include 'anexos/_navbar.html' %}

    <div class="container" id="contenido">
      {% block pre_contenido %}{% endblock pre_contenido %}
      {% block contenido %}{% endblock contenido %}
      {% block post_contenido %}{% endblock post_contenido %}
    </div>

    {% include 'anexos/_footer.html' %}
    {% include 'anexos/_scripts.html' %}
    {% block post_footer %}{% endblock post_footer %}
  </body>
</html>