{% extends 'base.html' %}
{% load sgc %}

{% block footer %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["calendar"]})
  google.charts.setOnLoadCallback(calendariosCecyrd)

  function calendariosCecyrd () {
    let dataTable = new google.visualization.DataTable()
    dataTable.addColumn({type: 'date', id: 'Fecha'})
    dataTable.addColumn({type: 'number', id: 'Promedio'})
    dataTable.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true} })
    dataTable.addRows([{% for dia in tramites%}
      [new Date({{dia.fecha_tramite__date|jsdate}}), {{dia.disponible.days}}, 'Día: {{dia.fecha_tramite__date|date:"d/M/Y"}}<br>Promedio: {{dia.disponible.days}} días']{% if not forloop.last%},{% endif %}{% endfor%}
    ])
    let chart = new google.visualization.Calendar(document.getElementById('calendar_basic'))
    let options = {
      title: "Días para entrega",
      height: 600,
      width: 1000,
      calendar: {
        daysOfWeek: 'DLMMJVS',
      }
    }

    chart.draw(dataTable, options);
  }
</script>
{% endblock footer %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4"><i class="fa fa-bolt"></i> {{ title }}</h1>
        <p class="lead">
          Mide los días que pasan desde que se pone la CPV disponible hasta su entrega.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="calendar_basic" style="width: 1000px; height: 600px;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>Notas sobre este indicador</h4>
      <ul>
        <li>Se calcula en cuanto tiempo se entregaron las credenciales solicitadas en cada día calendario.</li>
        <li>
          Para falicitar la lectura de la gráfica, el número máximo es 20 días,
          aunque al colocar el ratón sobre cada día se puede observar el tiempo
          preciso.
        </li>
        <li>Entre mas claro sea el recuadro <strong>es mejor.</strong></li>
      </ul>
    </div>
  </div>
{% endblock content%}
