{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
{% endblock header %}

{% block footer %}
  <script src="/assets/tinymce/tinymce.min.js"></script>
  <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
  {{ form.media }}
  <script>
    $( function() {
      $( ".dateinput" ).datepicker();
      $( ".dateinput" ).datepicker( "option", "showAnim", "slide" );
      $(".dateinput").datepicker( "option", "dateFormat", "dd/mm/yy" );
    } );

    $(function(){
        $('#id_fuente').change(function(){
            if ($(this).val() == '9') { // Si la opción seleccionada es "Otros"
                $('#id_otra_fuente').prop('disabled', false); // Habilitar el campo de texto
            } else {
                $('#id_otra_fuente').prop('disabled', true); // Deshabilitar el campo de texto
            }
        });
    });

    $(document).ready(function(){
        // Obtener la fecha y hora actual
        let currentDate = new Date()

        // Formatear la fecha y hora a 'YYYY-MM-DD HH:MM:SS+00:00'
        let formattedDate = currentDate.getFullYear() + '-' +
            ('0' + (currentDate.getMonth() + 1)).slice(-2) + '-' +
            ('0' + currentDate.getDate()).slice(-2) + ' ' +
            ('0' + currentDate.getHours()).slice(-2) + ':' +
            ('0' + currentDate.getMinutes()).slice(-2) + ':' +
            ('0' + currentDate.getSeconds()).slice(-2) + '+00:00';

        // Establecer el valor del input
        $('#initial-id_fecha_llenado').val(formattedDate)
    });

    $(document).ready(function(){
      $('#descripcion_cnc, #descripcion_pcm').hide();
      $('#id_documento').change(function(){
        let selectedValue = $(this).val();
        if (selectedValue == '1') {
          // Mostrar descripcion_cnc
          $('#descripcion_pcm').hide()
          $('#descripcion_cnc').show();
        } else if (selectedValue == '2') {
          // Mostrar descripcion_pcm
          $('#descripcion_cnc').hide()
          $('#descripcion_pcm').show();
        } else {
          $('#descripcion_cnc, #descripcion_pcm').hide();
        }
      });
    });
  </script>
{% endblock footer %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><i class="fa fa-bug"></i> Agregar un nuevo plan</h1>
    </div>
  </div>
</div>

<div class="row">
  <form class="form-horizontal" role="form">
    {% csrf_token %}
      <div class="row">
        <h3>Identificación del plan</h3>
          <div class="row" >
            <div id="div_id_nombre" class="mb-3 col-sm-12">
              <label for="id_nombre" class="form-label requiredField">Nombre<span class="asteriskField">*</span> </label>
              <input type="text" name="nombre" maxlength="255" class="textinput form-control" required aria-describedby="id_nombre_helptext" id="id_nombre">
              <div id="id_nombre_helptext" class="form-text">Nombre del Plan de Acción</div>
            </div>
          </div>
      </div>

      <div  class="row row" >
        <div class="col-md " >
          {{ form.documento|as_crispy_field }}
        </div>

        <div class="col-md " >
          {{ form.fecha_llenado|as_crispy_field }}
        </div>

        <div class="col-md">
          {{ form.folio|as_crispy_field }}
        </div>
      </div>

    <div class="row" id="descripcion_cnc">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Descripción de la no conformidad</h2>

        <div class="col">
          <div class="row">
            <div class="col">
              {{ form.tipo|as_crispy_field }}
            </div>
            <div class="col">
              {{  form.fuente|as_crispy_field }}
            </div>
          </div>
          <div class="row">
            <div class="col">{{ form.otra_fuente|as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col">{{ form.desc_cnc|as_crispy_field }}</div>
            <div class="col">{{ form.correccion | as_crispy_field }}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="row" id="descripcion_pcm">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Descripción del Plan de Cambios y Mejoras al SGC</h2>
          <div class="col">
            <div class="row">
              <div class="col">
                {{ form.fecha_inicio|as_crispy_field }}
              </div>
              <div class="col">
                {{ form.fecha_termino|as_crispy_field }}
              </div>
              <div class="col">
                {{ form.requisito | as_crispy_field }}
              </div>
            </div>

            <div class="row">
              <div class="col">
                {{ form.proposito|as_crispy_field }}
              </div>
              <div class="col">
                {{ form.proceso | as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col">{{ form.desc_pcm | as_crispy_field }}</div>
              <div class="col">{{ form.consecuencias | as_crispy_field }}</div>
            </div>
        </div>
    </div>





  </form>
</div>

{% endblock content %}
