{% extends 'base.html' %}
{% load pas_tags %}

{% block before_content %}
  <div class="container py-4">
     <div class="p-5 mb-4 bg-body-tertiary rounded-3">
          <h1 class="display-5 fw-bold"><i class="fa fa-bug" aria-hidden="true"></i> Control de Planes de Acción</h1>
          <p class="col fs-4">
            La organización debe determinar y seleccionar las oportunidades de mejora e implementar las acciones necesarias para cumplir los requisitos del
            cliente y aumentar la satisfacción del cliente.
          </p>
          <p>
            <a href="javascript:void(0)" class="btn btn-lg btn-danger"><i class="fa fa-check-square-o" aria-hidden="true"></i> Seguimiento</a>
            <a href="javascript:void(0)" class="btn btn-lg btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Acción Compromiso</a>
            <a href="{% url 'pas:add' %}" class="btn btn-lg btn-info"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Agregar un PAS</a>
          </p>
        </div>
    </div>
{% endblock before_content %}

{% block content %}
  <div class="row">
    <h3 class="display-2">Planes de acción abiertos</h3>

    <div class="row">
      {% for plan in plan_list %}

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm border-{% pas_color plan.documento %}">
            <div class="card-header bg-{% pas_color plan.documento %}">
              <h4 class="my-0 fw-normal text-bg-{% pas_color plan.documento %}">{{ plan.nombre }}</h4>
            </div>
            <div class="card-body">
              {% if plan.documento == 1 %}
                <p>{{ plan.desc_cnc|safe }}</p>
              {% else %}
                <p>{{ plan.desc_pcm|safe }}</p>
              {% endif %}
              <ul class="list-unstyled mt-3 mb-4">
                {% if plan.documento == 1 %}
                  <li>Tipo: <span class="badge bg-primary">{{ plan.get_tipo_display }}</span></li>
                {% else %}
                  <li>Propósito: <span>{{ plan.proposito }}</span> </li>
                  <li>Proceso: <span class="bg-secundary">{{ plan.get_proceso_display  }}</span> </li>
                  <li>Requisito: <span class="badge bg-success">{{ plan.requisito }}</span></li>
                {% endif %}
                <li>Acciones: <span class="badge bg-primary">{{ plan.accion_set.count }}</span></li>
              </ul>
              <a href="#" class="btn btn-lg btn-block btn-primary">Ver detalles</a>
            </div>
          </div>
        </div>
        <pre>{{ plan.get_proceso_display }}</pre>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
