{% extends 'base.html' %}

{% block before_content %}
  <div class="container py-4">
     <div class="p-5 mb-4 bg-body-tertiary rounded-3">
          <h1 class="display-5 fw-bold"><i class="fa fa-bug" aria-hidden="true"></i> Control de Planes de Acción</h1>
          <p class="col fs-4">
            La organización debe determinar y seleccionar las oportunidades de mejora e implementar las acciones necesarias para cumplir los requisitos del
            cliente y aumentar la satisfacción del cliente.
          </p>
          <p>
            <a href="javascript:void(0)" class="btn btn-lg btn-danger"><i class="fa fa-check-square-o" aria-hidden="true"></i> Seguimiento</a>
            <a href="javascript:void(0)" class="btn btn-lg btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Acción Compromiso</a>
            <a href="javascript:void(0)" class="btn btn-lg btn-info"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Agregar un PAS</a>
          </p>
        </div>
    </div>
{% endblock before_content %}

{% block content %}
<div class="row">
  {% for p in planes %}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><a href="#">{{ p.nombre }}</a></h4>
        </div>
        <div class="panel-body">
          {{ p.redaccion|safe }}
        </div>
        <div class="panel-footer">
          Accciones: <span class="badge">{{ p.accion_set.count }}</span> |
          <span class="label label-primary">{{ p.get_proceso_display }}</span> |
          <span class="label label-success">{{ p.get_tipo_display }}</span> |
          <span class="label label-info">{{ p.get_mejora_display }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
