{% extends "base.html" %}
{% load docs_tags %}

{% block footer %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
      google.charts.load('current', {'packages':['sankey']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        // let colors = ['#a6cee3', '#b2df8a', '#fb9a99', '#fdbf6f',
        //               '#cab2d6', '#ffff99', '#1f78b4', '#33a02c'];

        let data = new google.visualization.DataTable();
        data.addColumn('string', 'Ciudadanos');
        data.addColumn('string', 'Causa');
        data.addColumn('number', 'Cantidad');
        data.addRows([
        	['Sin trámite', 'Rechazos', 2220],
          ['Sin trámite', 'Sin rechazo', 2331],

          ['Sin rechazo', 'Solo va por información', 2218],
          ['Sin rechazo', 'Va por su CPV', 57],
          ['Sin rechazo', 'Otras causas', 56],

          ['Rechazos', 'Falta acta de nacimiento', 919],
          ['Rechazos', 'Falta identificación', 660],
          ['Rechazos', 'Falta comprobante domicilio', 412],
					['Rechazos', 'Sin fichas', 23],
          ['Rechazos', 'Menor de 18 años', 167],
          ['Rechazos', 'No pasó la huella', 39]
        ]);

        // Sets chart options.
        let options = {
          sankey: {
          	node: {
            	// colors
            },
            link: {
            	colorMode: 'gradient',
              //  colors
            }
          }
        };

        // Instantiates and draws our chart, passing in some options.
        var chart = new google.visualization.Sankey(document.getElementById('sankey_basic'));
        chart.draw(data, options);
      }
  </script>
{% endblock footer %}

{% block content %}
  <div class="jumbotron p-3 p-md-5 rounded">
    <div class="px-0">
      <h1 class="display-4">Bitácora de Ciudadanos Rechazados MAC</h1>
      <span class="text-muted"><small>Periodo considerado: desde {{ inicio.fecha }} hasta {{ fin.fecha }}</small></span>
      <hr>
      <a href="{% url 'mesas:add' %}" role="button" class="btn btn-danger btn-lg">Agregar bitácoras</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div id="sankey_basic" style="width: 100%; height: 500px;"></div>
    </div>
  </div>

    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <td>Tipo</td>
              <td>Causa</td>
              <td>Cantidad</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="3">Sin rechazo</td>
              <td>Información</td>
              <td>2,218</td>
            </tr>
            <tr>
              <td>Va por su credencial</td>
              <td>57</td>
            </tr>
            <tr>
              <td>Otras causas</td>
              <td>56</td>
            </tr>

            <tr>
              <td rowspan="6">Rechazo</td>
              <td>Falta acta de nacimiento</td>
              <td>919</td>
            </tr>
            <tr>
              <td>Falta identificación con fotografía</td>
              <td>660</td>
            </tr>
            <tr>
              <td>Falta comprobante de domicilio</td>
              <td>412</td>
            </tr>
            <tr>
              <td>Menor de 18 años</td>
              <td>167</td>
            </tr>
            <tr>
              <td>No pasó la huella</td>
              <td>39</td>
            </tr>
            <tr>
              <td>No hay fichas</td>
              <td>23</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

{% endblock content %}
