<article class="markdown-body"><h2 id="10-mejora"><a name="user-content-10-mejora" href="#10-mejora" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>10 Mejora</h2>
<h3 id="101-generalidades"><a name="user-content-101-generalidades" href="#101-generalidades" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>10.1 Generalidades</h3>
<p>La organización debe determinar y seleccionar las oportunidades de mejora e implementar las acciones necesarias para cumplir los requisitos del cliente y aumentar la satisfacción del cliente.</p>
<p>Esto debe incluir, cuando sea adecuado;</p>
<ol>
<li>mejorar los procesos para prevenir no conformidades;</li>
<li>mejorar los productos y servicios para cumplir los requisitos conocidos y previstos;</li>
<li>mejorar los resultados del sistema de gestión de la calidad.</li>
</ol>

<h3 id="102-no-conformidad-y-accion-correctiva"><a name="user-content-102-no-conformidad-y-accion-correctiva" href="#102-no-conformidad-y-accion-correctiva" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>10.2 No conformidad y acción correctiva</h3>
<h4 id="1021-no-conformidad"><a name="user-content-1021-no-conformidad" href="#1021-no-conformidad" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>10.2.1 No conformidad</h4>
<p>Cuando ocurra una no conformidad, incluidas aquellas originadas por quejas, la organización debe:</p>
<ol>
<li>reaccionar ante la no conformidad, y según sea aplicable<ol>
<li>tomar acciones para controlarla y corregirla;</li>
<li>hacer frente a las consecuencias;</li>
</ol>
</li>
<li>evaluar la necesidad de acciones para eliminar las causas de la no conformidad, con el fin de que no vuelva a ocurrir ni ocurra en otra parte, mediante:<ol>
<li>la revisión de la no conformidad;</li>
<li>la determinación de las causas de la no conformidad;</li>
<li>la determinación de si existen no conformidades similares, o que potencialmente podrían ocurrir;</li>
</ol>
</li>
<li>implementar cualquier acción necesaria;</li>
<li>revisar la eficacia de las acciones correctivas tomadas;</li>
<li>si es necesario, hacer cambios al sistema de gestión de la calidad.</li>
</ol>
<p>Las acciones correctivas deben ser adecuadas a los efectos de las no conformidades encontradas.</p>

<h4 id="1022-documentacion-de-no-conformidades"><a name="user-content-1022-documentacion-de-no-conformidades" href="#1022-documentacion-de-no-conformidades" class="headeranchor-link"  aria-hidden="true"><span class="headeranchor"></span></a>10.2.2 Documentación de No Conformidades</h4>
<p>La organización debe conservar información documentada, como evidencia de:</p>
<ol>
<li>la naturaleza de las no conformidades y cualquier acción posterior tomada;</li>
<li>los resultados de cualquier acción correctiva.</li>
</ol>