<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/pas/"><i class="fa fa-bug"></i> Control PAS</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="active dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
          Planes <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Agregar</li>
          <li><a href="javascript:void(0)">Seguimiento</a></li>
          <li><a href="javascript:void(0)">Acción Compromiso</a></li>
          <li><a href="javascript:void(0)">Planes de Acción</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Usuarios <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Usuarios</li>
          <li><a href="javascript:void(0)">Revisar</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>