{% extends 'base.html' %}

{% block content %}
  <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4"><i class="fa fa-lightbulb-o"></i> Caja de Ideas</h1>
          <p class="lead">
            <span class="text-muted">
              <small>
                ¿Tienes una idea para mejorar el SGC? ¡Compártela con nosotros!
              </small>
            </span>
          </p>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Ideas</h5>
        <img src="https://placekitten.com/800/400" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
            Si tienes una idea y quieres que alguien la
            haga realidad, cuéntanos sobre ella. Revisa
            las ideas de otros y anímate a convertirla
            en un proyecto.
          </p>
          <a href="{% url 'ideas:ideas' %}" class="btn btn-primary">Ver la lista de ideas</a>
        </div>
      </div>
    </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Proyectos</h5>
          <img src="https://placekitten.com/g/600/300" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              Mira los proyectos en ejecución. Anota tu proyecto para que sea evaluado.
              Registra tus avances y resultados.
            </p>
            <a href="#" class="btn btn-primary">Ir a proyectos</a>
          </div>
        </div>
      </div>
  </div>
{% endblock content %}
