{% extends 'base.html' %}

{% block head_title %}Cuadro de Mando Integral{% endblock head_title %}

{% block content %}
<div class="row position-relative overflow-hidden text-center bg-light">
  <div class="col-md-8 p-lg-8 mx-auto my-8">
    <h1 class="display-4 font-weight-normal">Política de la Calidad</h1>
    <p class="lead ">
      En el Instituto Nacional Electoral INE, estamos comprometidos en proporcionar
      a la ciudadanía un servicio eficiente y de calidad en el trámite de expedición
      de su credencial para votar, desde la entrevista hasta la entrega de la
      credencial para votar, para contribuir al derecho a la identidad ciudadana,
      con base en el marco normativo, reglamentario y en un entorno de mejora continua
      con apego a los requisitos de la norma ISO 9001:2015.
      <span class="text-muted small">Revisión: 00 - 2021</span>
    </p>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="row mt-4">
  <div class="col">
    <h1 class="display-5">Alcance del Sistema</h1>
    <p class="lead p-3 mb-2 bg-info text-white">
      Dar un Servicio de Atención a la Ciudadanía durante el trámite de
      expedición       de su credencial para votar, dese la primera
      entrevista hasta la entrega de la credencial en los MAC en la
      entidad.
    </p>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h1 class="display-5">Objetivos de la calidad</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-12 bg-secondary text-white p-3">
    <p class="lead">
      Actualizar el PE en la entidad mediante la captación de solicitudes
      de credencial requeridas por la ciudadanía en los MAC instalados
      en la entidad.
    </p>
  </div>
  <div class="col-md-4 col-sm-12 bg-light text-dark p-3">
    <p class="lead">
      Elevar el porcentaje de utilización de la capacidad instalada en los
      MAC de la entidad.
    </p>
  </div>
  <div class="col-md-4 col-sm-12 bg-secondary text-white p-3">
    <p class="lead">
      Brindar el servicio en todos los MAC de la entidad, conforme al
      calendario de operación establecido en la Campaña de
      Actualización en turno.
    </p>
  </div>
</div>

  <div class="row">
    <div class="col-md-4 col-sm-12 bg-light text-dark p-3">
      <p class="lead">Promover la inscripción de jóvenes al PE.</p>
    </div>
    <div class="col-md-4 col-sm-12 bg-secondary text-white p-3">
      <p class="lead">Mantener el servicio a domicilio, acorde a lo que establece el Artículo 141 de la LGIPE.</p>
    </div>
    <div class="col-md-4 col-sm-12 bg-light text-dark p-3">
      <p class="lead">Conocer la opinión ciudadana sobre el servicio de los MAC.</p>
    </div>
  </div>

{% endblock content %}
