{% extends 'base.html' %}

{% block head_title %}Cuadro de Mando Integral{% endblock head_title %}

{% block content %}
<div class="row position-relative overflow-hidden text-center mb-5">
  <div class="col my-5">
    <form class="form" method="get" action="{% url 'docs:buscador' %}">
      <div class="input-group mb-3">
        <input type="text" class="form-control py-3" name="q" placeholder="Escribe el documento a buscar" aria-label="Nombre del documento" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
      </div>
    </form>
  </div>
</div>

  <div class="row mt-4">
    <div class="col mx-auto my-8 bg-secondary rounded-5 p-5">
      <h1 class="display-5 font-weight-normal text-primary">Política de la Calidad</h1>
      <p class="lead text-primary mx-auto">
        En el Instituto Nacional Electoral INE, estamos comprometidos en proporcionar
        a la ciudadanía un servicio eficiente y de calidad en el trámite de expedición
        de su credencial para votar, desde la entrevista hasta la entrega de la
        credencial para votar, para contribuir al derecho a la identidad ciudadana,
        con base en el marco normativo, reglamentario y en un entorno de mejora continua
        con apego a los requisitos de la norma ISO 9001:2015.<br>
        <span class="text-muted small">Revisión: 00 - 2021</span>
      </p>
    </div>
  </div>

<div class="row mt-4">
  <div class="col">
    <h1 class="display-5">Alcance del Sistema</h1>
    <p class="lead p-3 mb-2 bg-primary text-white rounded-3">
      Dar un Servicio de Atención a la Ciudadanía durante el trámite de
      expedición       de su credencial para votar, dese la primera
      entrevista hasta la entrega de la credencial en los MAC en la
      entidad.
    </p>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h1 class="display-5">Objetivos de la calidad</h1>
  </div>
</div>

  <div class="row row-cols-md-3 g-4">
    <div class="col d-flex align-items-stretch">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Actualización del PE
        </div>
        <div class="card-body">
          <p class="lead">
            Actualizar el PE en la entidad mediante la captación de solicitudes de credencial requeridas por la ciudadanía en los MAC instalados en la entidad.
          </p>
        </div>
      </div>
    </div>

    <div class="col d-flex align-items-stretch">
      <div class="card">
        <div class="card-header bg-secondary text-primary">
          Capacidad Instalada
        </div>
        <div class="card-body">
          <p class="lead">
            Elevar el porcentaje de utilización de la capacidad instalada en los
            MAC de la entidad.
          </p>
        </div>
      </div>
    </div>

    <div class="col d-flex align-items-stretch">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Calendario de operación
        </div>
        <div class="card-body">
          <p class="lead">
            Brindar el servicio en todos los MAC de la entidad, conforme al
            calendario de operación establecido en la Campaña de
            Actualización en turno.
          </p>
        </div>
      </div>
    </div>

    <div class="col d-flex align-items-stretch">
      <div class="card">
        <div class="card-header bg-secondary text-primary">
          Jóvenes
        </div>
        <div class="card-body">
          <p class="lead">
            Promover la inscripción de jóvenes al PE. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
        </div>
      </div>
    </div>

    <div class="col d-flex align-items-stretch">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Artículo 141
        </div>
        <div class="card-body">
          <p class="lead">
            Mantener el servicio a domicilio, acorde a lo que establece el Artículo 141 de la LGIPE.
          </p>
        </div>
      </div>
    </div>

    <div class="col d-flex align-items-stretch">
      <div class="card">
        <div class="card-header bg-secondary text-primary">
          Opinión Ciudadana
        </div>
        <div class="card-body">
          <p class="lead">
            Conocer la opinión ciudadana sobre el servicio de los MAC.
          </p>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
