{% extends 'base.html' %}

{% block head_title %}Cuadro de Mando Integral{% endblock head_title %}

{% block content %}
<div class="row position-relative overflow-hidden text-center bg-light">
  <div class="col-md-8 p-lg-8 mx-auto my-8">
    <h1 class="display-4 font-weight-normal">Política de la Calidad</h1>
    <p class="lead ">
      Nuestro compromiso con la ciudadanía y las partes interesadas es garantizar el ejercicio de los derechos
      político-electorales y el derecho a la identidad a través de un servicio de calidad y mejora continua en el
      trámite y entrega de la Credencial para Votar; haciendo uso efectivo de los recursos asignados; observando las
      disposiciones normativas y los objetivos institucionales; siempre con estricto apego a los principios rectores
      de: Certeza, Legalidad, Independencia, Imparcialidad, Objetividad y Máxima Publicidad; dando cumplimiento a la
      Norma ISO 9001:2015. <span class="text-muted">Revisión: 05 (marzo 07, 2018)</span>
    </p>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="row mt-4">
  <div class="col">
    <h1 class="display-5">Alcance del Sistema</h1>
    <p class="lead p-3 mb-2 bg-info text-white">
      Trámite de la Credencial para Votar desde la planeación, ejecución de las actividades registrales,
      apoyo-soporte, y evaluación hasta la entrega de la credencial.
    </p>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h1 class="display-5">Objetivos de la calidad</h1>
  </div>
</div>
<div class="row">
  <div class="col bg-light text-dark p-3">
    <h4 class="text-dark"> Cobertura del Padrón Electoral</h4>
    <h5 class="text-small text-muted">
      Objetivo en el Plan Estratégico: <strong>Garantizar el derecho a la identidad</strong>
    </h5>
    <p class="lead">
        El objetivo reflejará la certeza de la información de la Lista Nominal, al
        proporcionar el porcentaje de ciudadanos con registros actualizados.
        <br>
        Es la relación entre la lista nominal y el padrón electoral.
        <br>
        <em>Meta: </em><strong>>= 89%</strong>
    </p>
  </div>
  <div class="col bg-secondary text-white p-3">
    <h4 class="text-white">Opinión ciudadana sobre el servicio de los MAC.</h4>
      <h5 class="text-small text-white">
        Objetivo en el Plan Estratégico: <strong>Garantizar el derecho a la identidad</strong>
      </h5>
      <p class="lead">
          El objetivo reflejará el porcentaje de ciudadanos que, según su opinión, fueron
          atendidos “muy bien” y “bien” en los Módulos de Atención Ciudadana.
          <br>
          Se calcula aplicando encuestas en los MAC.
          <br>
          <em>Meta: </em><strong>>= 9.38</strong>
      </p>
    </div>
</div>

{% endblock content %}
