{% load staticfiles %}
<!-- link rel="stylesheet" href="{% static 'pas/css/bootstrap.css' %}" -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'pas/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'pas/css/pas.css' %}">
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
  <script src="{% static 'pas/js/html5shiv.js' %}"></script>
  <script src="{% static 'pas/js/respond.min.js' %}"></script>
<![endif]-->