{# incidencias/index.html #}
{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Gestión de Incidencias en MAC{% endblock %}

{% block footer %}
  <link rel="stylesheet" href="{% static 'incidencias/fullcalendar/fullcalendar.min.css' %}">
  <script src="{% static 'incidencias/fullcalendar/lib/moment.min.js' %}"></script>
  <script src="{% static 'incidencias/fullcalendar/lib/jquery-ui.min.js' %}"></script>
  <script src="{% static 'incidencias/fullcalendar/fullcalendar.min.js' %}"></script>
  <script src="{% static 'incidencias/fullcalendar/locale/es.js' %}"></script>

  <script>

    $(function() {

      $('#calendar').fullCalendar({
        themeSystem: 'bootstrap4',
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay,listMonth'
        },
        eventLimit: true, // allow "more" link when too many events
        events: [{% for evento in object_list %}
          {
            id: '{{ evento.id }}',
            title: '{{ evento.caso_cau }}',
            start: new Date('{{ evento.fecha_inicio|date:"c" }}'),
            end: new Date('{{ evento.fecha_final|date:"c" }}'),
            url: '{% url 'incidencias:evento' evento.id %}',
            editable: false,{% if evento.inhabilitado %}
            color: 'indianred'{% endif %}
          },
          {% endfor %}],
        dayClick: function(date, jsEvent, view) {
          alert('Clicked on: ' + date.format());
          alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
          alert('Current view: ' + view.name);
          $(this).css('background-color', 'red');
        }
      })

    })

  </script>
{% endblock footer%}

{% block content %}
  <div class="jumbotron p-3 p-md-5 rounded">
    <div class="px-0">
      <h1 class="display-4">Incidencias en MAC</h1>
      <p>
        Establece la relación entre la Lista Nominal de Electores y el Padrón Electoral.
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div id='calendar'></div>
    </div>
    <div class="col-md-6">
      <h2>Tabla estadística</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Módulo</th>
            <th>Tipo</th>
            <th>Config.</th>
            <th>D. Prog.</th>
            <th>D. Trab</th>
            <th>%</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
              <tr>
                <td>{{ item.modulo }}</td>
                <td>{{ item.modulo.get_tipo_mac_display }}</td>
                <td>{{ item.modulo.get_configuracion_display }}</td>
                <td>{{ item.modulo.dias }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
