main {
  margin-top: 4.5rem;
}

footer {
  margin-top: 4.5rem;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.cboxIframe {
  width: 100% !important;
  height: 100% !important;
  min-height: 400px; /* Opcional, ajusta según necesidad */
}
