{% extends "base.html" %}
{% load docs_tags %}
{% load humanize %}

{% block head_title %}Gestión de Riesgos{% endblock %}

{% block content %}
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4"><i class="fa fa-bug"></i> Gestión de Riesgos</h1>
          <hr class="my-4">
          <p>
            <a href="#" class="btn btn-danger"><i class="fa fa-plus-circle"></i> Agregar riesgo</a>
            <a href="#" class="btn btn-success"><i class="fa fa-edit"></i> Evaluar riesgo</a>
          </p>

          <p>
            {% for y in years %}
              <div class="btn-group">
                <button type="button" class="btn btn-{% cycle 'primary' 'success' 'info' 'warning' 'danger' %} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ y }}
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'cifras:index' %}?year={{ y }}"><i class="fa fa-bar-chart"></i> Productividad <strong>{{ y }}</strong></a>
                  <a class="dropdown-item" href="{% url 'cifras:tramites' %}?year={{ y }}"><i class="fa fa-edit"></i> Trámites <strong>{{ y }}</strong></a>
                  <a class="dropdown-item" href="{% url 'cifras:entregas' %}?year={{ y }}"><i class="fa fa-id-card-o"></i> Entregas <strong>{{ y }}</strong></a>
                </div>
              </div>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
{% endblock content %}
