{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block footer %}
  <link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script>
    $('.dateinput').datepicker({
      format: 'dd/mm/yyyy',
      locale: 'es'
    });

    $('.dateinput').datepicker.dates = {
      days: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
      daysShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb"],
      daysMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
      months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
      today: "Hoy",
      monthsTitle: "Meses",
      clear: "Borrar",
      weekStart: 1,
      format: "dd/mm/yyyy"
      };
  </script>
{% endblock footer %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-3">Captura de Registro DPI/USI</h1>
        {% include 'partials/_messages.html' %}
        <hr>
        <form method="post" class="form">
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
