{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">

    <div class="row">
      <h1>Add Member</h1>
    </div>

    <div class="row">
      <div class="col">
        <div class="table_responsive">
          <table class="table table-hover table-bordered table-condensed table-striped table-responsive">
            <thead class="thead-dark">
              <tr>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Rol</th>
                <th>Sitio</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
                <tr>
                  <td>{{ member.name }}</td>
                  <td>{{ member.mail }}</td>
                  <td>{{ member.role }}</td>
                  <td>{{ member.site }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h2>Agregar miembro</h2>
        <form method="post" class="form">
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
